* {
    margin: 0;
    padding: 0;
}

body {
    /* background: linear-gradient(
        0,
        #282A35 0%,
        #282A35 80%,
        #D1481E 80%,
        #D1481E 100%
      ); */
    background-color: #ad3e11;
    font-family: Poppins;
    min-height: 100vh;
}

h1 {
    color: white;
}

h3 {
    color: #FACBCA;
}

p {
    color: #f7ebdd;
}
#mainPage{
    background-color: #8E3200;
}
#skillsPage {
    background-color: #A64B2A;
}

#experiencePage {
    background-color: #c15123;
}

#contactPage {
    background-color: #ce774a;
}
.btn-primary{
    background-color: #c15123;
    border-color: #c15123;
}

.btn-primary:hover{
    background-color: #A64B2A;
    border-color: #A64B2A;
}
.navbar {
    background-color: #8E3200;
}

.div-profile-text {
    padding-top: 5rem;
}


.text-justify{
    text-align: justify;
}

.profile-picture {
    margin-top: 4rem;
    width: 340px;
    height: 350px;
}

.img-go {
    width: 80px;
    height: 30px;
}

.circle {
    justify-content: center;
    position: relative;
    width: 50px;
    height: 50px;
}

.border-one {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    filter: drop-shadow(0 0 5px #f5770f);
    overflow: hidden;
    animation: rotate 6s linear infinite;
}

.border-two {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    filter: drop-shadow(0 0 5px #f5770f);
    overflow: hidden;
    animation: rotate 6s linear infinite;
    animation-delay: -6s;
}

.border-one::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 50px;
    height: 50px;
    background: linear-gradient(0deg, #f5770f, #f5770f);

}

.border-one::after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: -50%;
    width: 50px;
    height: 50px;
    background: linear-gradient(0deg, transparent, transparent, #f5770f);
}

.border-two::before {
    content: "";
    position: absolute;
    top: -50%;
    right: -50%;
    width: 50px;
    height: 50px;
    background: linear-gradient(0deg, #f5770f, transparent, transparent);

}

.border-two::after {
    content: "";
    position: absolute;
    bottom: -50%;
    right: -50%;
    width: 50px;
    height: 50px;
    background: linear-gradient(0deg, #f5770f, #f5770f);
}

.content {
    position: absolute;
    inset: 2px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.img-gopher-icon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .div-profile-text {
        padding: 1rem;
    }
    
    .profile-picture {
        width: 100%;
        max-width: 300px;
        height: auto;
        margin: 2rem;
        margin-left: 2.5rem;
    }

    .navbar {
        background-color: #8E3200;
        position: fixed;
        width: 100%;
    }
    
    .navbar-nav .nav-link {
        color: white;
    }
    

    .nav-item.active .nav-link {
        color: #FACBCA;
    }

   
    .btn-primary {
        background-color: #c15123;
        border-color: #c15123;
        width: 100%;
    }

    .btn-primary:hover {
        background-color: #A64B2A;
        border-color: #A64B2A;
    }
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}